.company-logo {
    position: relative;
    width: 48px !important;
    height: 48px;
    box-sizing: border-box;
    background-clip: content-box;
    background-position: 50%;
    background-size: cover;
    object-position: center;
    object-fit: cover;
    margin-right: 0.8rem;
}

.card-body {
    border-radius: 5px;
}

.experience-description {
    margin-top: 10px !important;
    overflow-wrap: break-word;
}

.card {
    display: flex;
    flex-direction: column;
}
